::-webkit-scrollbar {
    display: none;
}

@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');

body,
html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    position: relative;
}


.head {
    background-color: #f0abb7;
    background-image: url("../background/texture_pink.svg");
    height: 100%;
    width: auto;

}

.active {
    font-weight: bolder;
    color: #957DAD !important;
    transform: scale(1.1);
}



.nav-link {
    font-size: 0.5em;
}

.head .navbar {
    font-size: 4em;
    font-family: 'Chakra Petch',
        sans-serif;
    letter-spacing: 5px;
}

@media screen and (max-width: 991px) {
    .head .navbar {
        font-size: 1.5em;

    }
}


.head .navbar a {
    color: #474973;
    cursor: pointer;
    border-bottom: #474973 0 solid;
}

.head .navbar a:hover {
    color: #3F69AA !important;
    border-bottom: #474973 2px solid;
    animation-name: pulse;
}

.image-container {
    position: relative;
    width: 100%;

}

.head .container img {
    width: 100%;
    height: 100%;
    margin: 20%;
    background-size: cover;
    transform: rotate(-3deg);
}

.txt-header {
    color: white;
    font-weight: bolder;
    font-family: 'Amatic SC',
        cursive !important;
    letter-spacing: 15px;
    font-size: 8vh;
    position: absolute;
    bottom: 49%;
    right: 40%;
    z-index: 1;
}

@media screen and (max-width: 991px) {
    .head .container img {
        width: 100%;
    }

    .txt-header {
        font-size: 2em;
        bottom: 45%;
        left: 10%;
    }
}

@media screen and (max-width: 763px) {
    .head .container img {
        margin: 50%;
        width: 100%;
    }

    .image-container .txt-header {
        font-size: 1em;
        bottom: 45%;
        left: 10%;
    }
}

@media screen and (max-width: 425px) {
    .head {
        height: auto;
    }

    .head .container img {
        width: 100%;
    }

    .txt-header {
        font-size: 10px;
        bottom: 40%;
        left: 10%;
    }
}

.image-container {
    position: relative;

}

h1,
p {
    margin: 0;
}

.body-perkenalan {
    background-color: #95dccc;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.txt-perkenalan {
    visibility: hidden;
}

.text-programmer-1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
}



.body-perkenalan p {
    font-size: 4rem;

}

.body-tertarik {
    background-color: #fbca61;
    background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
    font-family: 'Press Start 2P',
        cursive;
    color: rgb(82, 54, 19);

    font-weight: bolder;
    height: 55em;
    z-index: 0;

}

.container-programmer-text {

    background-color: #FF8366;
    color: #F8EABD;
    font-weight: bolder;

}

@media screen and (max-width: 1381px) {
    .body-perkenalan p {

        font-size: 2rem;
    }
}

@media screen and (max-width: 950px) {
    .body-perkenalan p {

        font-size: 1.5rem;
    }
}

@media screen and (max-width: 841px) {
    .body-perkenalan p {

        font-size: 1rem;
    }
}

@media screen and (max-width: 544px) {
    .body-perkenalan p {

        font-size: 0.7rem;
    }
}

[class*="col-"] {
    background-clip: padding-box;
    border: 15px solid transparent;
}

.start {
    font-family: 'Gochi Hand',
        cursive;
    font-size: 2em;
    border: black 1px solid;
    padding: 30px;

}

.txt-bagian {
    margin-top: 10%;
}